@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 10px;
  }

  /* Top arrow button */
  .custom-scrollbar::-webkit-scrollbar-button:decrement {
    height: 10px;
    background: url("data:image/svg+xml,%3Csvg width='10' height='100' viewBox='0 0 24 24' fill='%23808080' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8l-6 6h12l-6-6z'/%3E%3C/svg%3E")
      no-repeat center;
    background-size: 18px;
  }

  /* Bottom arrow button */
  .custom-scrollbar::-webkit-scrollbar-button:increment {
    height: 10px;
    background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 24 24' fill='%23808080' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 16l6-6H6l6 6z'/%3E%3C/svg%3E")
      no-repeat center;
    background-size: 18px;
  }
}

/* --- SWIPER CUSTOMIZATION --- */

.hero-swiper {
  --swiper-navigation-color: #ffffff;
  --swiper-navigation-size: 20px;
  --swiper-pagination-color: #ffffff;
}

@media (min-width: 768px) {
  .hero-swiper {
    --swiper-navigation-size: 30px;
  }
}

/* BUBBLE CONTAINER SIZE */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(194, 194, 194, 0.374);
  border-radius: 10% !important;
  width: 40px; /* Ensure width/height are set so background shows */
  height: 40px;
  backdrop-filter: blur(4px);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin-top: 0 !important;
  transform: translateY(-50%);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* ARROW ICON RESET */
.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: bold;
}

/* Mobile adjustment: Hide arrows on small screens */
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}